@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

button, div {
  -webkit-tap-highlight-color: transparent;
  /* color: rgba(79, 200, 248, 0.549); */
}



.anim_fadeIn {
  animation: fade-in 100ms linear both;
}

@keyframes fade-in {
  from {
   transform: scale(0.4);
    opacity: 0;
    right: -20%;
  }
  to{
  transform: scale(1);
  opacity: 1;
  right: -20%;
  }
}
.anim_fade {
  animation: fade 100ms ease-in;
}

@keyframes fade {
  from {
   transform: scale(0.4);
    opacity: 0;
 
  }
  to{
  transform: scale(1);
  opacity: 1;
  }
}